[submodule "typecho"]
	path = typecho
	url = https://github.com/typecho/typecho
[submodule "ssl"]
	path = ssl
	url = https://github.com/Neilpang/acme.sh.git
[submodule "acme.sh"]
	path = acme.sh
	url = https://github.com/Neilpang/acme.sh.git
